<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../style.css">
    <script type="module" src="./../src/snake.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script> 
  </head>
  <body>
    
    <section>
      <h2 id="score" class="text-center text-3xl mt-5">score: 0</h2>
      <div class="containerSnake">
        <canvas id="snakeCanvas" width="400" height="400"></canvas>
      </div>
    </section>

    <!-- <div id="cuadrado" style="height: 10px; width: 10px; background-color: aquamarine; position: absolute;"></div> -->
</body>
</html>